/* Main Content */

main {
    height: 93vh;
    padding: .8em 2em;
}

.container {
    /* border: 1px solid black; */
    padding: .4em;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.details {
    /* border: 1px solid blue; */

    display: flex;
    align-items: center;
    gap: 10px;
}

.details .profile-name {
    /* border: 1px solid darkred; */
    padding: .5em .7em;
    width: 19%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details .profile-name figure {
    width: 100px;
    height: 100px;
}

.details .profile-name figure img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.details .profile-name span {
    margin-top: 10px;
    padding: .25em .5em;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.details .username-bio {
    /* border: 1px solid red; */
    width: calc(100% - 19%);
    box-sizing: border-box;
    padding: 1em .5em;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .username-bio .username {
    /* border: 1px solid blue; */
    width: 100%;
    color: white;

    font-size: 25px;
    font-weight: 500;
}

.details .username-bio .Bio {
    /* border: 1px solid green; */
    width: 100%;
    padding: .5em;
    overflow: auto;

    font-size: 17px;
    color: lightgray;
}

/* Posts */

.posts {
    /* border: 1px solid red; */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.posts .post-image {
    border-bottom: 1px solid rgb(97, 97, 97);
    border-radius: 10px;
    padding-bottom: .1em;
    width: 90%;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    z-index: 2;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.1);
}

.posts .content {
    padding: .5em;
    width: 95%;
    height: 35vh;

    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}

.content .post {
    padding: .7em;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 12px; */
    background-color: rgba(162, 210, 255, 0.2);
}

.content .post .fig-details {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content .post .fig-details figure {
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.content .post .fig-details figure img {
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.post .fig-details .heading-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post .fig-details .heading-date h2 {
    font-size: 30px;
    font-weight: 500;
}

.post .fig-details .heading-date h2 a {
    text-decoration: none;
    color: white;
}

.post .fig-details .heading-date h2 a:hover {
    color: lightgray;

}

.post .fig-details .heading-date p {
    font-size: 20px;
    font-weight: 500;
    color: grey;
}

.post .edit-del {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.post .edit-del a {
    text-decoration: none;
    color: lightseagreen;
}

.post .edit-del a:hover {
    color: aquamarine;
}

/* ----------------- */
/* Return-Logout */
/* ----------------- */

.return {
    padding: 1em;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Home */
.return .home {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: .5em 2.1em;
    border: 3px solid #219ebc;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #219ebc;
    transition: .3s ease all;
    z-index: 1;
}

.return .home::before {
    transition: .3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #219ebc;
    z-index: -1;
}

.return .home:hover,
.return .home:focus {
    color: white;
}

.return .home:hover::before,
.return .home:focus::before {
    transition: .3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.return .home:active {
    transform: scale(0.9);
}

/* Logout */
.return .logout {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: .5em 1.5em;
    border: 3px solid #d00000;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #d00000;
    transition: .3s ease all;
    z-index: 1;
}

.return .logout::before {
    transition: .3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #d00000;
    z-index: -1;
}

.return .logout:hover,
.return .logout:focus {
    color: white;
}

.return .logout:hover::before,
.return .logout:focus::before {
    transition: .3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.return .logout:active {
    transform: scale(0.9);
}

@media screen and (max-width: 850px) {
    .details .profile-name {
        width: 100%;
        padding: 0em .5em;
    }

    .details .profile-name figure {
        width: 100px;
        height: 100px;
    }

    .details .profile-name span {
        padding: .25em;
        font-size: 13px;
        font-weight: 300;
    }

    .details .username-bio {
        width: 100%;
        height: 100px;
        padding: .5em;
    }

    .details .username-bio .username {
        font-size: 20px;
    }

    .details .username-bio .Bio {
        font-size: 12px;
    }

    .content .post {
        padding: .5em;
    }

    .post .fig-details figure img {
        width: 60px;
        height: 60px;
    }

    .post .fig-details .heading-date h2 {
        font-size: 25px;
    }

    .post .fig-details .heading-date p {
        font-size: 15px;
    }

    .return {
        padding: .5em;
        gap: 5px;
    }
}