body {
    font-family: "Ubuntu", sans-serif;

    background-image: url(imgs/bg-img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1em 1.5em;
    border-radius: 20px;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.container p {
    color: white;

    font-size: 20px;
    padding: .5em;
}

.options {
    padding: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options button {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: .5em 2.1em;
    border: 3px solid #d00000;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #d00000;
    transition: .3s ease all;
    z-index: 1;
    cursor: pointer;
}

.options button::before {
    transition: .3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #d00000;
    z-index: -1;
}

.options button:hover,
.options button:focus {
    color: white;
}

.options button:hover::before,
.options button:focus::before {
    transition: .3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.options button:active {
    transform: scale(0.9);
}

.options a {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: .5em 2.1em;
    border: 3px solid #219ebc;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #219ebc;
    transition: .3s ease all;
    z-index: 1;
    cursor: pointer;
}

.options a::before {
    transition: .3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #219ebc;
    z-index: -1;
}

.options a:hover,
.options a:focus {
    color: white;
}

.options a:hover::before,
.options a:focus::before {
    transition: .3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.options a:active {
    transform: scale(0.9);
}
