main {
    /* border: 1px solid black; */
    height: 91.2vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    border-radius: 20px;

    padding: 1.5em 2.5em;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(29, 53, 87, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: aliceblue;

}

.post-title {
    /* border: 1px solid blue; */
    padding: .5em;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.post-title label {
    font-size: 40px;
    font-weight: 500;
}

.post-title .input-field {
    border: none;
    outline: none;
    box-shadow: none;
    padding: .5em;
    border-radius: 30px;

    font-size: 20px;
    color: aliceblue;

    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(100%);
    background-color: rgba(1, 22, 30, 0.3);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.post-title .input-field:focus::placeholder {
    opacity: 0;
}

.post-image {
    /* border: 1px solid blue; */
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-image label {
    text-decoration: underline;
    font-size: 17px;
}

.post-image input {
    outline: none;
    border: none;
    box-shadow: none;

    padding: .2em .5em;
}

.location {
    /* border: 1px solid blue; */
    padding: .5em 1em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.location .input-field {
    font-size: 18px;
}

.location .input-field {
    outline: none;
    border: none;
    box-shadow: none;
    padding: .5em;
    border-radius: 25px;

    font-size: 16px;
    color: aliceblue;

    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(100%);
    background-color: rgba(1, 22, 30, 0.3);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.location .input-field:focus::placeholder {
    opacity: 0;
}


.bio {
    /* border: 1px solid blue; */
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.bio label {
    font-size: 18px;
}

.bio .desc-field {
    outline: none;
    border: none;
    box-shadow: none;
    padding: .5em;
    border-radius: 25px;

    font-size: 16px;
    color: aliceblue;

    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(100%);
    background-color: rgba(1, 22, 30, 0.3);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.bio .desc-field:focus::placeholder {
    opacity: 0;
}

.upload {
    /* border: 1px solid blue; */
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload button {
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: .5em 1.7em;
    border-radius: 20px;
    cursor: pointer;

    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: #e9ecef;
    border-radius: 12px;
    border: 3px solid #005f73;
    color: #005f73;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: .3s ease all;
    z-index: 1;
}

.upload button::before {
    transition: .5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #005f73;
    z-index: -1;
}

.upload button:hover,
.upload button:focus {
    color: #e9ecef;
}

.upload button:hover::before,
.upload button:focus::before {
    transition: .3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.upload button:active {
    transform: scale(0.9);
}

.upload a {
    text-decoration: none;
    margin-top: 5px;

    font-size: 17px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: .5em 1.7em;
    border-radius: 20px;
    cursor: pointer;

    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: #e9ecef;
    border-radius: 12px;
    border: 3px solid #780000;
    color: #780000;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: .3s ease all;
    z-index: 1;
}

.upload a::before {
    transition: .5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #780000;
    z-index: -1;
}

.upload a:hover,
.upload a:focus {
    color: #e9ecef;
}

.upload a:hover::before,
.upload a:focus::before {
    transition: .3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.upload a:active {
    transform: scale(0.9);
}


@media screen and (max-width: 850px) {
    .container {
        padding: .5em 1.5em;
    }

    .post-title {
        padding: 0em;
        gap: 0px;
    }
}