/* Footer */
footer {
    /* border: 1px solid black; */
    position: sticky;
    bottom: 0;
    z-index: 2;
}

.menu {
    /* border: 2px solid red; */
    display: flex;
    padding: .3em 0em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu ul {
    /* border: 2px solid blue; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2em 1.5em;
    border-radius: 35px;
    gap: 8px;


    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(27, 38, 59, 0.7);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    box-shadow: 0px 4px 5px -1px blue;
}

.menu ul li {
    /* border: 2px solid white; */
    border-radius: 10px;
}

.item-link {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    padding: .7em;
    border-radius: 10px;
}

.item-link::before {
    transition: .3s all ease-in-out;
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 50%;
    left: 50%;
    opacity: 0;
    content: '';
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.item-link:hover, 
.item-link:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

.item-link:hover::before {
    transition: .3s all ease-in-out;
    border-radius: 10px;
    left: 0%;
    right: 0%;
    opacity: 1;
}

.item-link:focus::before {
    transition: .3s all ease-in-out;
    border-radius: 10px;
}

.item-link:focus::before span,
.item-link:hover::before span {
    pointer-events: none;
}

.item-link .menu-icon {
    height: 25px;
    width: 25px;
}

.item-link span {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 450;
    font-style: normal;
    letter-spacing: 1px;

    border: 1px solid rgba(0, 0, 187, 0.842);
    padding: .3em .7em;
    background-color: rgba(0, 0, 187, 0.842);
    border-radius: 10px;

    position: absolute;
    pointer-events: none;
    bottom: 100%;
    margin-bottom: 6px;
    opacity: 0;
    transform: translate(0, 1.5rem);
    transition: 250ms all ease;
}

.menu:not(:hover) .item-link:focus span,
.item-link:hover span {
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
}

