{% extends 'base.html' %}
{% load static %}

{% block title %}
Password Reset sent
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'Authentication/password_resent_sent.css' %}">
{% endblock %}

{% block content %}
<header>
    <nav class="navbar">
        <div class="box-heading">
            <span>Wondor</span>
        </div>
    </nav>
</header>

<main>
    <section>
        <div class="container">
            <div class="heading">
                <span>Password Reset Sent</span>
            </div>

            <div class="text">
                <span>A password reset link has been sent to your email.</span>
                <span>Please note that the link will expire in 10 Minutes.</span>
            </div>

        </div>
    </section>
</main>
{% endblock %}