{% extends 'base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'Authentication/reset_password.css' %}">
{% endblock %}

{% block content %}
    <header>
    <nav class="navbar">
        <div class="box-heading">
            <span>Wondor</span>
        </div>
    </nav>
</header>

<main>
    <section>
        <div class="container">

            {% if messages %}
                {% for message in messages %}
                    {% if messages.tags == 'error' %}
                        <center><h4 style = "color: firebrick;">{{ message }}</h4></center>
                    {% else %}
                        <center><h4 style = "color: dodgerblue;">{{ message }}</h4></center>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <form method="post">

                {% csrf_token %}

                <div class="heading">
                    <span>Reset Password</span>
                </div>

                <div class="txt_input">
                    <label for="password">Password </label>
                    <input type="password" name="password" placeholder="Password">
                </div>

                <div class="txt_input">
                    <label for="confirm_password">Confirm Password </label>
                    <input type="password" name="confirm_password" placeholder="Confirm Password">
                </div>

                <div class="button">
                    <button type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}