/* --------------- */
/* Header */
/* --------------- */

.box-heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-heading span {
    border: 1px solid black;
    font-family: "Ubuntu", sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    padding: .1em 0em;

    width: 35vw;
    border-radius: 0px 0px 20px 20px;
    background-image: url(imgs/img.jpg);
    background-position: center;
    background-size: cover;
    color: #01023b;
    text-decoration: line-through;
    text-decoration-color: #0077b6;
    box-shadow: 0px 0px 30px 0px #495057;
}

@media screen and (max-width: 850px) {
    .box-heading span {
        width: 80vw;
    }
}

/* --------------- */
/* Main */
/* --------------- */

section {
    /* border: 1px solid black; */
    height: 87vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* border: 1px solid black; */
    padding: 1em 1.5em;
    border-radius: 25px;

    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(100%);
    background-color: rgba(10, 20, 30, 0.3);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 50px 0px #6d90b9;
}

.container .heading {
    /* border: 1px solid red; */
    text-align: center;
    padding: 1em 0em;
}

.container .heading span {
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
    font-weight: 700;
    
    background: #00458E;
    background: linear-gradient(180deg, rgba(0, 69, 142, 1) 40%, rgba(0, 3, 40, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: .5em;
}

.text span {
    /* border: 1px solid red; */
    font-family: "Ubuntu", sans-serif;
    color: #f8f9fa;
}
